body{
    background-color: rgb(31, 1, 1);
}
.logo{
    color: white;
    font-size: 30px;
}
.written{
    color: white;
    font-size: 25px ;
}
.thoughtbot{
    color: rgb(204, 204, 13);
}
.button{
    color: black;
    background-color:yellow;
    height: 30%;
    width: 30%;
    border-radius:5%;
    padding-bottom:5px;
    margin: 50px;
    font-size: 20px;
}
.twenty-four{
    color: white;
    font: size 30px;
}
.sign{
    background-color:rgb(63, 2, 2);
    color: rgb(253, 253, 253);
    height: 300px;
    width: 700px;
    padding-top:50px ;
}
.your{
    color: white;
    font-size: 10 ;
}
.div1{
    padding-left: 300px;
}
.retro{
    color: white;
    font-size: 30px;
}
.trimming{
    color: white;
    padding-left: 300px;
}
